body {
    color: aliceblue;
    height: 100vh;
}

a {
    color: aliceblue;
}

a:hover {
    text-emphasis: none;
    color: aliceblue;
}

.header {
    width: 100%;
    background-image: url(./img/main/home2.jpg);
    background-size: cover;
    height: 100%;
    padding: 0px;
}

.module {
    padding: 0px 15px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top {
    background: transparent;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.left {
    float: left;
}
.right {
    float: right;
}

.web-icon {
    color: aliceblue;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}
.language {
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.language span {
    color: aliceblue;
}

.search {
    color: aliceblue;
    font-weight: 300;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.fas {
    color: aliceblue;
    padding: 0px 5px;
}

.nav-item {
    display: flex;
}

.header-bottom {
    margin-top: 10%;
}

.header-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 10%;
}

.text-center {
    text-align: center;
}

.header-content h1 {
    margin-bottom: 25px; 
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}
.header-content p {
    margin-bottom: 25px; 
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.try-builder {
    padding: 10px 46px;
    font-size: 16px;
    width: 200px;
}

.purchase-foundry {
    margin-left: 5px;
    display: inline;
    padding: 12px 37px;
    font-size: 16px;
}

.purchase-foundry:hover {
    background-color: aliceblue;
    color: black;
    border-color: aliceblue;
}