body {
    color: aliceblue;
    height: 100vh;overflow-x: hidden;
}

a {
    color: aliceblue;
}

a:hover {
    text-decoration: none;
    color: aliceblue;
}

.header {
    width: 100%;
    background-image: url(./img/main/home2.jpg);
    background-size: 100% 100vh;
    height: 100%;
    padding: 0px;
    background-repeat: no-repeat;
}

.module {
    padding: 0px 15px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top {
    background: transparent;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.left {
    float: left;
}
.right {
    float: right;
}

.web-icon {
    color: aliceblue;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}
.language {
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.language span {
    color: aliceblue;
}

.search {
    color: aliceblue;
    font-weight: 300;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.fas {
    color: aliceblue;
    padding: 0px 5px;
}

.nav-item {
    display: flex;
}

.header-bottom {
    margin-top: 10%;
}

.header-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 10%;
}

.text-center {
    text-align: center;
}

.header-content h1 {
    margin-bottom: 25px; 
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}
.header-content p {
    margin-bottom: 25px; 
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.try-builder {
    padding: 10px 46px;
    font-size: 16px;
    width: 200px;
}

.purchase-foundry {
    margin-left: 5px;
    display: inline;
    padding: 12px 37px;
    font-size: 16px;
}

.purchase-foundry:hover {
    background-color: aliceblue;
    color: black;
    border-color: aliceblue;
}


/*main content*/

.main-content {
    padding: 95px 0px;
}

.uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.img-holder {
    display: inline-block;
    position: relative;

    width: 100%;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.img-holder .hover-active {
    position: absolute;
    top: 0 ;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.item {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
}

.hover-active a {
    width: 100%;
    opacity: 1;
}

.item:hover .hover-active {
    transform: translateY(-4px) !important;
    -webkit-box-shadow: 16px 17px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 16px 17px 0px 0px rgba(0,0,0,0.1);
    box-shadow: 16px 17px 0px 0px rgba(0,0,0,0.1);
    background-color: rgba(41,41,41,0.5 );
    opacity: 1;
}

.item:hover img {
    transform: translateY(-4px) !important;
}

.coming-soon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(41,41,41,0.5 );
}

.footer {
    background-color: #13181d;
    height: 55vh;
    padding: 20vh 0vh;
}

.footer-logo {
    max-height: 100px;
    max-width: 100px;
}

.footer-cap {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-cap h6 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.feature {
    color: black;
    padding: 15vh 0vh;
}


.feature-item {
    display: flex;
    padding-bottom: 80px;

}

.feature-tiltle {
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
}

.feature-tiltle h4 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 28px;
    line-height: 32px;
    display: inline;
}

.feature-icon .fas {
    color: #3af13a;
    font-size: 30px;
}

.feature-cap {
    display: inline-block;
}

.feature-cap h5 {
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    white-space: nowrap;
    
}

.feature-cap p {
    font-size: 15px;
    font-weight: 200;
}